[Desktop Entry]
Name=Wasp Companion
Keywords=wasp;companion;watch;smartwatch;pinetime;
Exec=/app/bin/run.sh
Terminal=false
Type=Application
Icon=com.arteeh.Companion
StartupNotify=true
